#map {
    height: 400px; 
    width: 100%;
    border: 3px solid black;
    margin: 0px;
    padding: 0px;
  }

/* set the button style */
#button {
    background-color: #f0f7f0; /* White */
    border: solid;
    color: rgb(28, 25, 25);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

/* set the input box style */
#search-area {

    background-color: #f0f7f0; /* White */
    border: none;
    width: 50%;
    height: 80px;
    color: rgb(28, 25, 25);
    padding: 1px 3px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    image-rendering: auto;
    
}
/* set the search button style */
#searchbutton {
    background-color: #f0f7f0; /* White */
    border: none;
    width: 20%;
    color: rgb(28, 25, 25);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font: roboto;
    margin: 4px 2px;
    cursor: pointer;
    
}

#autocomplete {
    background-color: aliceblue;
    width: 80%;
    height: 40px;
    text-align: middle;

}

/*
#start,
#end {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
} */

#get-distance {
    width: 50%;
    height: 40px;
    text-align: middle;
    background-color: aliceblue;
}